__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pickle
*.log

# Virtual environments
venv/
.env/
.env*/ 

# Jupyter
.ipynb_checkpoints/

# IDE crap
.vscode/
.idea/

# --- OS specific ---
.DS_Store
Thumbs.db

data/raw/*
data/processed/*
data/index/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/index/.gitkeep
!output/.gitkeep

# Output files (results of search)
output/*.txt
output/*.json

# Cache from models
models/*
cache/*
.huggingface/*

models/*
cache/*
.huggingface/*

# FAISS index files
*.index

# Temporary working files
tmp/
temp/

